form {
  background-color: #474B5F;
  display: inline-block;
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
  font-family: Ubuntu;
  color: #FF5930;

}

input {
  width: 250px;
  display: block;
  height: 30px;

}

label {
  padding-bottom: 5px;
  display: inline-block;

}

select {
  display: block;
  width: 200px;
  height: 20px;
}

.submitbutton {
  display: block;
  border-radius: 10px;
  background-color: #FF5930;
  height: 40px;
  color: #333333;
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 15px;
}